#container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 600px;
}

#container > div > img {
    width: 100%;
    height: 100%;
}

#container > div {
    width: 50%;
    height: auto;
}
